.main_contant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5fr 3.5fr 6.4fr  .6fr .6fr 6.4fr;
      grid-template-columns: 3.5fr 3.5fr 6.4fr  .6fr .6fr 6.4fr;
  -ms-grid-rows: 1fr 1.5fr 2.2fr 2.2fr;
      grid-template-rows: 1fr 1.5fr 2.2fr 2.2fr;
      grid-template-areas: "statistics statistics statistics statistics statistics statistics" "friends friends visitors visitors followers followers" "audience audience audience audience audience reach" "gender gender gender geo geo geo";
  gap: 31px;
  padding: 0 45px 45px 45px;
  border-radius: 0 14px 14px 0;
}

.friends,
.visitors,
.followers,
.audience,
.reach,
.gender,
.geo {
  background-color: #282C31;
  border-radius: 13px;
}

.statistics {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: statistics;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics .statistics__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics .statistics__search .statistics__search-span {
  font-family: "Gilroy", sans-serif;
  color: #CACACA;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 75px;
}

.statistics .statistics__search input {
  background-color: #212427;
  border: none;
  outline: none;
  width: 153px;
  height: 32px;
  border: 1px solid #4D4D4D;
  border-radius: 8px;
  padding-left: 34px;
  color: #979797;
}

.statistics .statistics__search form::before {
  content: url(../images/Vector.png);
  margin: 5px -30px 0 0;
  color: #979797;
  position: relative;
}

.statistics .statistics__search .notification {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics .statistics__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics .statistics__account .photo {
  margin: 0 10px;
}

.statistics .statistics__account .photo:hover {
  cursor: pointer;
}

.friends {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: friends;
}

.visitors {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: visitors;
}

.followers {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: followers;
}

.audience {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: audience;
}

.reach {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: reach;
}

.gender {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gender;
}

.geo {
  border: 1px solid #4D4D4D;
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: geo;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.content {
  max-width: 1280px;
  height: 880px;
  background-color: #282C31;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11.8fr;
      grid-template-columns: 1fr 11.8fr;
  margin: 100px auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-radius: 14px;
}
/*# sourceMappingURL=main.css.map */