.container {
    width: 1400px;
    margin: 0 auto;
     
}
h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin: 100px auto 0;
    text-align: center;
    color: #212121;
    font-size: 36px;
    font-weight: 400;
}
.border {
    border:1px solid #E72424;
    margin: 25px auto 0;
    width: 64px;
}
.element {
    margin: 30px auto 0;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color:#86878B
}
.info {
    margin: 67px auto 108px;
    display: flex;
    justify-content: center;

}
.info-sections__icon1,
.info-sections__icon2,
.info-sections__icon3
 {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border:1px solid #E72424;
    border-radius: 50%;
}
.img {
    display:block;
    height: 30px;
    margin: 20px auto;
}
.info-section_title1,
.info-section_title2,
.info-section_title3
 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
.info-section__text1,
.info-section__text2,
.info-section__text3
 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400; 
    width: 360px; 
    margin: 16px;
}
.info-sections2 {
    margin: 0 32px;
}
 .sad {
    width: 1400px;
    height: 326px;
    background-image:url(../images/img.png) 
}
.h2 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 76px auto 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:#fff;
    width: 1400px;
}
.supborder {
    width:1400px;
    position: absolute;
}
.border2{
    border:1px solid #86878B;
    width: 64px;
    margin: 164px auto 0;
   
}
.media-icon {
    display: flex;
    justify-content: center;
   
}
.media {
    background-color:#000;
    width: 1400px;
   
}
.typo{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color:#86878B;
    background:#000;
    text-align: center;
    font-weight: 400;
    height: 27px; 
  
}
a{
    text-decoration: none;
    color:#fff;
}

i.m-i {
    font-size: 23px;
    color: #fff;
    margin: 30px 10px 18px;
}
.uts {
    color:#86878B;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 196px auto 0;
    width: 1400px;
    font-size: 16px;
    text-align: center;
}
.supbatton{
    width:1400px;
    position: absolute;
}
.batton{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border:1px solid #fff;
    text-align: center;
    width: 83px;
    padding: 11px 26px;
    margin: 246px auto 0;
}
i.m-i:hover{
    font-size: 24px;
    margin: 30px 10px 16px;
    color:#d14848;
}
.batton:hover {
    background-color: rgba(130, 202, 175, 0.65);
    border:1px solid #d14848;
    transition:.3s;
    color:#d14848;
    cursor: pointer;
}
.background{
    background: rgba(0,0,0,.65);
    height: 326px;
    width: 1400px;
}
.nav{
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    

}
.navigation{
    width: 50%;
  

}
.navigation-menu{
    display: flex;
    color:rgba(255, 255, 255, .7);
    font-family:'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 600; 
    text-transform: capitalize;

}
ol.navigation-menu a{
    color:rgba(255, 255, 255, .7);

}
.navigation-menu__list{
    margin-left: 48px;

}
.logo{
    color:#fff;
    width:50%;
    margin-left: 110px;
}
.axit{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform:uppercase;
}
.it{
    color: #EC7979;
}
.axithead{
    background-image: url(../images/img1.png);
    height: 601px;
    width:1400px;
}
.axithead-background{
    background-color:rgba(0,0,0,.45);
    height: 601px;
    width:1400px;
    display: flex;
}
.axithead-right,
.axithead-left {
    display: flex;
    width:50%;
    flex-direction: column;
}
.axit-main{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
    text-transform:uppercase;
    color:#fff;
}
.axithead-right__axit{
    margin-top: 110px;  
}
.axithead-right__modern{
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    margin-top: 32px;
}
.axithead-right__border{
    border:1px solid #86878B;
    width: 64px;
    margin-top: 32px;
}
.axithead-right__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#86878B;
    line-height:120%;
    margin-top: 39px;
}
.axithead-right__batton {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border:1px solid #fff;
    text-align: center;
    padding: 11px 26px;
    width: 83px;
    margin-top: 39px;
}
.axithead-right{
    margin-left: 110px;
}
a{
    text-decoration: none;
    color:#fff;
}
.axithead-left-form{
    height: 370px;
    width:370px;
    background-color:#fff;
    border-radius: 8px;
    margin:  auto;

}
.free{
    text-transform: uppercase;
    color: #EC7979;
    margin: 0 5px;
}
.axithead-left-form__name,
.axithead-left-form__email,
.axithead-left-form__password {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#333;
    border:none;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
    padding: 18px 0;
    margin: 0 56px;
} 
.axithead-left-form__input{
    border:none;
    outline: none;
}
.title-form{
    font-family:"Open Sans", serif;
    font-weight: 700;
    margin:0 auto 60px;
}
.titlt-form__sp{
    display:flex;
    justify-content: center;
    width: 370px;
    margin-top: 18px;
}
.axithead-left-form__submit{
    width:370px;
    height: 54px;
    background-color:#EC7979;
    font-family: "Open Sans",serif;
    color:#fff;
    border:none;
    border-radius:0 0 8px 8px;
    position: absolute;
    margin-top: 60px;
    outline: none;
    /* ======================= */
}
.socialmedia{
   background-color:#F8EFEF;
   height: 110px;
   
}
i.si__i{
    font-size: 42px;
    color:#86878B;
}
div.socialmedia-text__h3{
    font-family:"Open Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color:#333;
    
    
}
.socialmedia-text{
    width: 494px;
    
    
}
.socialmedia-icon{
    width: 906px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

}
.socialmedia{
    display: inline-flex;
    
}
.si__i{
    margin: 0 30px;

    
}
.socialmedia-icon__icons{
    margin-right: 100px;
   
}
.socialmedia-text__h3__lorem{
    font-family: "Open Sans",sans-serif ;
    font-size: 14px;
    margin: 14px 0 14px 111px;
    color: #86878B;
    line-height: 150%;
}
.socialmedia-text__h3{
    margin: 14px 0 14px 111px;
     
}
/* =============================== */
.tab-blocks__block1,
.tab-blocks__block2,
.tab-blocks__block3{
    display: flex;
    margin-bottom: 10px;


}
span.tab-blocks__block1__tab{
    font-family:" Open Sans",sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    padding: 45px 35px;
    background-color:rgba(236, 121, 121, 1);
    display: block;
    border-radius:4px;
}
.tab-blocks{
    display: flex;
    flex-direction: column;
}
.tab{
    display: flex;
    justify-content:start;
}
.tab-text{
    width: 572px;
}
.tab-text__title{
    margin-bottom: 58px;
}
.tab-text__text1{
    margin-bottom: 30px;
}
.tab-text__text2{
    margin-bottom: 70px;
}
span.tab-text__title__span{
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color:#000;
}
span.tab-text__text1__span{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color:rgba(134, 135, 139, 1);
    line-height: 140%;
}
span.tab-text__text2__span{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color:rgba(134, 135, 139, 1);
    line-height: 140%;
}
span.tab-text__button_span{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 11px 26px;
    width: 83px;
    background-color:#EC7979;
    display: block;
}
.tab-blocks{
    margin: 125px 111px 0;
}
.tab-text{
    margin: 126px 50px 0px 0px;
}
.tab-img{
    margin-top: 100px;
}
